@{
    ViewBag.Title = "Tìm Kiếm Sản Phẩm";
}

<h2>Tìm Kiếm Sản Phẩm</h2>

@using (Html.BeginForm("ProductDetails", "Product", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Tên Sản Phẩm")
        @Html.TextBox("productName", "", new { @class = "form-control" })
    </div>
    <input type="submit" value="Tìm Kiếm" class="btn btn-primary" />
}
